/*custom color to the scrollbar --WEBKIT--*/
::-webkit-scrollbar {color:#161819;background-color:#161819;}
::-webkit-scrollbar-button {color:#006c9b;background-color:#006c9b;}
::-webkit-scrollbar-track {color:#161819;background-color:#161819;}
::-webkit-scrollbar-track-piece {color:#161819;background-color:#161819;}
::-webkit-scrollbar-thumb {color:#0097d8;background-color:#0097d8;}

/*REGULAR STYLING*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #121314;
}

.navbar{
  background:#000;
  color: rgb(255, 255, 255);
  border-bottom: #0097d8 solid 2px;
}

.intro{
	height: 100%;
	width: 100%;
  color: white;
  background: url('../IMG/BG.jpg');
  text-align: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logo{
  height: 150px;
  width: 150px;
  margin-top: 100px;
  margin-bottom: 20px
}

.intro h4{
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 50px
}

#start-showdown-btn{
    color: rgb(0, 0, 192);
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: rgb(0, 0, 192) solid 2px;
    margin: 20px;
    font-weight: bold;
}
#start-showdown-btn:hover{
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(0, 0, 192);
  padding: 10px;
  border: white solid 2px;
  margin: 20px;
  font-weight: bold;
}

#join-showdown-btn{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}
#join-showdown-btn:hover{
  color: rgb(109, 109, 255);
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
}


.showdown-list{
  border-top: #3347ff solid 5px;
  background: #000;
  text-align: center;
  height: fit-content;
  padding-bottom: 100px;
  color: white;
}

/*footer styles*/
footer {
  background-color:black;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width:100%;
  position: fixed;
}

footer p {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-bottom: 0;
}

#org{
  text-transform: uppercase;
  color: #33ccff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  margin-left: 0;
  margin-right: 3.5em;
}

 /* The Create dialog (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15%;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #2600ff;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 